/*
:root {
  --color: #ffffff;
  --main-bg-color: #141412;
  --spacing: 2rem;
}
html {
  background-color: var(--main-bg-color);
/*   overflow-x: hidden; */
/*
}

.search {
  color: --color;  
}
h1 {
  display: block;
  position: relative;
  border: none;
  color: rgb(94, 33, 235);
  font-size: 2.5em;
  font-family: "Abel", sans-serif;
  padding-top: 8%;
/*   margin-bottom: 1em; */
/*
  text-align: center;
  overflow: auto;
}
img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 2%;
  
  /* box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.54); */
/*
}
.grid {
  display: grid;
  grid-gap: var(--spacing);
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  min-height: calc(100vh - var(--spacing) * 2);
  padding: 0 10% 0 10%;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.54);
}
.grid_item {
  grid-auto-flow: column;
  top: 0;
  margin-top: 15%;
  background-size: cover;
  background-position: 50% 50%;
  /* transform: rotate(-8deg); */
  /*
  z-index: 1;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.54);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.54);
 
}

.title {
  z-index: 100;
  margin-top: -13%;
  padding-bottom: 3%;
  transform: rotate(-8deg);
}

input {
  display: block;
  position: relative;
  border: none;
  color: red;
  font-size: 2.5em;
  font-family: "Abel", sans-serif;
  border-bottom: 2px solid rgb(94, 33, 235);
  padding-top: 8%;
  margin-bottom: 1em;
  width: 100%;
  height: 2em;
  text-align: center;
  /* vertical-align: middle; */
  /*
  background: none;
  resize: none;
  overflow: auto;
}

input:focus,
textarea:focus {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  outline: none;
  color: var(--color);
}

h4 {
  font-family: "Abel", sans-serif;
  font-size: 16px;
  color: var(--color);
  z-index: 100;
  margin-top: -13%;
  transform: rotate(0deg);
  text-align: center;
  white-space: wrap;
  padding: 0 5% 0 5%
}


/*
body {
  background-color: var(--clr-dark);
}
*/

:root {
  --clr-dark: #313131;
  --clr-light: #D9D9D9;
  --clr-light-blue: #689A92;
}

.spinner {
	--spinner-length: 300px;
	position: relative;
	width: var(--spinner-length);
	height: var(--spinner-length);
	border-radius: 50%;
	border: 2px dashed var(--clr-light-blue);
	animation: rotate-spinner 5000ms linear infinite;
}

.spinner-big-circle,
.spinner-small-circles,
.spinner-small-circles::before,
.spinner-small-circles::after {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
}

.spinner-big-circle {
	--big-circle-radius: calc(var(--spinner-length) / 4);
	width: var(--big-circle-radius);
	height: var(--big-circle-radius);
	background-color: var(--clr-light);
}

.spinner-small-circles {
	--small-circle-radius: calc(var(--spinner-length) / 8);
	left: 100%;
	width: calc(var(--small-circle-radius) * 3);
	height: calc(var(--small-circle-radius) * 3);
	border: 2px dashed var(--clr-light-blue);
	background-color: var(--clr-dark);
	animation: rotate-spinner-small-circles 3600ms linear infinite;
}

.spinner-small-circles::before,
.spinner-small-circles::after {
	content: "";
	width: var(--small-circle-radius);
	height: var(--small-circle-radius);
	background-color: var(--clr-light);
}

.spinner-small-circles::after {
	left: 100%;
}

@keyframes rotate-spinner {
	from {
		transform: rotate(0);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes rotate-spinner-small-circles {
	from {
		transform: translate(-50%, -50%) rotate(0);
	}

	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

/*ESTILOS DE BULMA Y CSS NANCY*/

@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.image img{
    object-fit: cover;
}

body {
  height: 400px;
  background-image: url("https://www.nasa.gov/sites/default/files/star_nova.png");
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
}

